pypdf
langchain
torch
accelerate
bitsandbytes
transformers
sentence_transformers
chainlit
huggingface_hub
ctransformers
chromadb
nest_asyncio
playwright
html2text
InstructorEmbedding
auto-gptq
pycryptodome
xformers